<!DOCTYPE html>
<html ng-app="myFirstApp">
<head>
    <meta charset="utf-8">
    <title>My first AngularJS App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<main role="main" class="container">
    <!--<div ng-controller="MyFirstController">
      <div class="col-md-12 mt-5">
        <label>Enter your first name</label>
        <input type="text" class="form-control" ng-model="name" placeholder="" value="" required="">
      </div>
      <div class="col-md-12 mt-5">
        <hr>
        <p class="lead">{{sayHello()}}</p>
      </div>
    </div>-->

    <div ng-controller="WordCalculatorController">
        <div class="col-md-12">
            <h1 class="mt-5">100 Point Words</h1>
            <p>The aim of this game is to find 100 point words, where each letter is worth it's position
                in the alphabet.</p>
            <p class="text-muted">Try: <tt>Excellent</tt> or <tt>Grumpy</tt></p>
        </div>
        <div class="col-md-12 mt-5">
            <label>Enter a word </label>
            <input type="text" class="form-control" ng-model="word" ng-change="recalculateWordValue();">
        </div>
        <div class="col-md-12 mt-5">
            <p class="lead">Total numeric value of word is: <tt>{{wordValue}}</tt></p>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted"><a href="https://github.com/mikenereson/Coursera-Angular/tree/master/Week1/Lectures/Lecture04"><tt> .\Coursera-Angular\Week1\Lectures\Lecture04</tt></a></span>
    </div>
</footer>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="angular.min.js"></script>
<script src="app.js"></script>
</html>
